In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Load dataset 
url = "https://raw.githubusercontent.com/MaharLeika18/Data-Mining---Python/refs/heads/main/Titanic-Dataset.csv"
data = pd.read_csv(url)

In [3]:
# Clean the data
data = data.fillna(0)
data = data.drop_duplicates()

# Create a new column for Family
data['Family'] = data['SibSp'] + data['Parch'] + 1

In [4]:
"""
# Plot Survival Patterns by Category
category_survivors = data.groupby('Category')['Survivors'].sum()
category_survivors.plot(kind='bar')
plt.title('Survivors by Pattern Category')
plt.xlabel('Category')
plt.ylabel('Total Survivors')
plt.show()
"""

"\n# Plot Survival Patterns by Category\ncategory_survivors = data.groupby('Category')['Survivors'].sum()\ncategory_survivors.plot(kind='bar')\nplt.title('Survivors by Pattern Category')\nplt.xlabel('Category')\nplt.ylabel('Total Survivors')\nplt.show()\n"

In [5]:
# Summary statistics
print(data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   23.799293    0.523008
std     257.353842    0.486592    0.836071   17.596074    1.102743
min       1.000000    0.000000    1.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000    6.000000    0.000000
50%     446.000000    0.000000    3.000000   24.000000    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare      Family
count  891.000000  891.000000  891.000000
mean     0.381594   32.204208    1.904602
std      0.806057   49.693429    1.613459
min      0.000000    0.000000    1.000000
25%      0.000000    7.910400    1.000000
50%      0.000000   14.454200    1.000000
75%      0.000000   31.000000    2.000000
max      6.000000  512.329200   11.000000

In [6]:
# Test print rows
pd.set_option('display.max_rows', 20) # Display all rows
pd.set_option('display.max_columns', None) # Display all columns
pd.set_option('display.width', 1000) # Adjust display width for more columns
pd.set_option('display.precision', 2) # Set precision for floating-point numbers

with pd.option_context('display.max_rows', 10, 'display.precision', 3):
    print(data)

     PassengerId  Survived  Pclass                                               Name     Sex   Age  SibSp  Parch            Ticket    Fare Cabin Embarked  Family
0              1         0       3                            Braund, Mr. Owen Harris    male  22.0      1      0         A/5 21171   7.250     0        S       2
1              2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1      0          PC 17599  71.283   C85        C       2
2              3         1       3                             Heikkinen, Miss. Laina  female  26.0      0      0  STON/O2. 3101282   7.925     0        S       1
3              4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1      0            113803  53.100  C123        S       2
4              5         0       3                           Allen, Mr. William Henry    male  35.0      0      0            373450   8.050     0        S       1
..           ...       ...     ...                                                ...     ...   ...    ...    ...               ...     ...   ...      ...     ...
886          887         0       2                              Montvila, Rev. Juozas    male  27.0      0      0            211536  13.000     0        S       1
887          888         1       1                       Graham, Miss. Margaret Edith  female  19.0      0      0            112053  30.000   B42        S       1
888          889         0       3           Johnston, Miss. Catherine Helen "Carrie"  female   0.0      1      2        W./C. 6607  23.450     0        S       4
889          890         1       1                              Behr, Mr. Karl Howell    male  26.0      0      0            111369  30.000  C148        C       1
890          891         0       3                                Dooley, Mr. Patrick    male  32.0      0      0            370376   7.750     0        Q       1

[891 rows x 13 columns]

In [7]:
nan_rows = data.isna().any(axis=1)
print(nan_rows)

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool